{% load static %}
                <div class="card mb-3 " style="max-width: 740px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'WEB/Img/questionImg.jpg' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{a.title }}</h5>
                                <p class="card-text"> {{a.text }}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                 <p class="card-text"><small class="text-muted">created {{ a.create_date }}</small></p>
                                <p class="card-text"><small class="text-muted">Author: {{a.author}}</small></p>
                            </div>
                            <div class="card-footer bg-transparent text-muted">
                                <div class="row-1">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-danger">Dislike</button>
                                        <button type="button" class="btn btn-secondary">1</button>
                                        <button type="button" class="btn btn-success">Like</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
