{% extends 'base.html' %}

{% block content %}
      <h2>
          <a href="{% url 'MainPage' %}" class="btn btn-primary active" role="button" aria-pressed="true">News Questions</a>
          <a href="{% url 'Hot' %}" class="btn btn-primary active" role="button" aria-pressed="true">Hot Questions</a>
      </h2>
    {% for question in questions %}
        {% include 'OneQuestion.html' with q=question tags=question.tags.all%}
    {% endfor %}
    {% include 'Pager.html' with pages=questions %}
{% endblock content %}